{% extends 'layout.twig' %}

{% block js %}
    <script>
        window.module = 'modules';
        window.field = 'name';
        var columns = [
            'name',
            'iconCls',
            'path',
        ];
    </script>
    <script src="/assets/scripts/global-crud.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-10">
                        <select class="search-name form-control select2">
                            <option></option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <a href="#" style="visibility: hidden;" class="modules add-btn h btn btn-flat btn-block btn-danger">Add</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th>Name</th>
                            <th>Icon Class</th>
                            <th>Path</th>
                            <th width="12%">Action</th>
                        </tr>
                        </thead>

                        <tbody class="modules">
                            <tr><td colspan="5">LOADING DATA...</td></tr>
                        </tbody>

                    </table>

                    {#ADD MODAL#}
                    <div class="modules add-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Add a Module</h4>
                                </div>
                                <div class="modal-body modules add">
                                    <form role="form" class="modules add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="iconCls">Icon Class</label>
                                                <input type="text" name="iconCls" class="form-control" id="iconCls" placeholder="Icon Class">
                                            </div>
                                            <div class="form-group">
                                                <label for="path">path</label>
                                                <input type="text" name="path" class="form-control" id="path" placeholder="Path">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="modules save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div class="modules detail-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail of Module</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="modules detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="iconCls">Icon Class</label>
                                                <input type="text" name="iconCls" class="form-control" id="iconCls">
                                            </div>
                                            <div class="form-group">
                                                <label for="path">Name</label>
                                                <input type="text" name="path" class="form-control" id="path">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="modules edit btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="modules pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}