{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Adv/Orders.js"></script>
    <script src="/assets/scripts/Adv/OrderInvoices.js"></script>
    <script src="/assets/scripts/Adv/Invoices.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading">
                    <ul id="serviceTab" class="nav nav-tabs" role="tablist">
                        <li class="active">
                            <a href="#new-invoice" aria-controls="#" role="tab" data-toggle="tab">BUAT FAKTUR BARU</a>
                        </li>
                        <li>
                            <a href="#print-invoice" aria-controls="#" role="tab" data-toggle="tab">CETAK FAKTUR</a>
                        </li>
                    </ul>
                </div>

                <div class="panel-body">
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="new-invoice">
                            <div class="row">
                                <div class="col-md-10">
                                    <select class="form-control" id="searchInvoices" style="width: 100%"></select>
                                </div>
                                <div class="col-md-2">
                                    <button id="btnAddInvoice" disabled class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                                </div>
                            </div>

                            <table class="table table-bordered table-responsive table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                    <th width="3%">NO.</th>
                                    <th width="20%">NOMOR FAKTUR</th>
                                    <th width="8%">JUMLAH</th>
                                    <th width="66%">STATUS FAKTUR</th>
                                    <th width="3%"><span class="pull-right">AKSI</span></th>
                                </tr>
                                </thead>
                                <tbody id="invoicesList"></tbody>
                            </table>

                            <ul id="invoicesPagination" class="pagination pagination-sm pull-right"></ul>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="print-invoice">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="/advertising/invoices-printt" method="get" target="_blank">
                                        <div class="form-group">
                                            <label for="rangeDates">TANGGAL ORDER</label>
                                            <div class="input-daterange input-group" id="rangeDates">
                                                <input type="text" readonly class="form-control" id="startDate" name="start" placeholder="PILIH TANGGAL MULAI" style="border-radius: 0;" />
                                                <span class="input-group-addon">SAMPAI</span>
                                                <input type="text" readonly class="form-control" id="endDate" name="end" placeholder="PILIH TANGGAL AKHIR" style="border-radius: 0;" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="invoiceState">STATUS FAKTUR</label>
                                            <select class="form-control" id="invoiceState" style="width: 100%">
                                                <option value="a">ACTIVE</option>
                                                <option value="c">CLOSE</option>
                                                <option value="v">VOID</option>
                                            </select>
                                        </div>
                                        <button type="button" id="btn-print-invoice" class="btn btn-success btn-flat pull-right"><i class="fa fa-print"></i> CETAK</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {#Add Modal#}
    <div id="addModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BUAT FAKTUR BARU</h4>
                </div>
                <div class="modal-body">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul id="serviceTab" class="nav nav-tabs" role="tablist">
                                <li class="active">
                                    <a href="#satu" aria-controls="satu" role="tab" data-toggle="tab">NORMAL</a>
                                </li>
                                <li class="">
                                    <a href="#dua" aria-controls="dua" role="tab" data-toggle="tab">PECAH</a>
                                </li>
                                <li class="">
                                    <a href="#tiga" aria-controls="tiga" role="tab" data-toggle="tab">GABUNG</a>
                                </li>
                            </ul>
                        </div>

                        <div class="panel-body">
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="satu">

                                    <form id="normalForm">
                                        <div class="form-group">
                                            <label for="normalOrder">IKLAN</label>
                                            <select name="order" id="normalOrder" style="width: 100%"></select>
                                        </div>

                                        <div class="form-group">
                                            <label for="normalNetto">NETTO</label>
                                            <div class="input-group" id="normalNetto">
                                                <input type="text" readonly name="netto" id="netto" class="form-control">
                                                <input type="hidden" id="amount">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger btn-flat" id="btn-normal-invoice" type="button">BUAT FAKTUR</button>
                                                </span>
                                            </div>
                                            <p class="help-block hidden" id="hasNormalInvoice">Order iklan ini sudah memiliki faktur</p>
                                        </div>
                                    </form>

                                </div>

                                <div role="tabpanel" class="tab-pane" id="dua">

                                    <form id="pecahForm">
                                        <div class="form-group">
                                            <label for="pecahOrder">IKLAN</label>
                                            <select name="order" id="pecahOrder" style="width: 100%"></select>
                                        </div>

                                        <div class="form-group">
                                            <label for="sisa">SISA</label>
                                            <input type="text" id="sisa" readonly class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label for="pecahAmount">MASUKKAN JUMLAH</label>
                                            <div class="input-group">
                                                <input type="text" name="amount" disabled id="pecahAmount" class="form-control" value="">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger btn-flat" id="btn-pecah-invoice" type="button">BUAT FAKTUR</button>
                                                </span>
                                            </div>
                                        </div>

                                        <label>LIST FAKTUR</label>
                                        <table class="table table-bordered table-responsive table-hover">
                                            <thead>
                                            <tr>
                                                <th width="5%">NO.</th>
                                                <th>NO. FAKTUR</th>
                                                <th>JUMLAH</th>
                                                <th>STATUS FAKTUR</th>
                                            </tr>
                                            </thead>
                                            <tbody id="invoicePecahList">
                                            <tr><td colspan="10">SILAKAN PILIH ORDER IKLAN</td></tr>
                                            </tbody>
                                        </table>

                                        <ul class="pagination pagination-sm pull-right" id="invoicePecahPagination"></ul>
                                    </form>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="tiga">
                                    <form id="gabungForm">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <label for="">LIST IKLAN</label>
                                            </div>
                                            <div class="col-md-10">
                                                <select name="order" id="gabungOrder" style="width: 100%"></select>
                                                <p class="help-block hidden" id="hasGabungInvoice">Order iklan ini sudah memiliki faktur</p>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" id="add-order" class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                                            </div>

                                            <div class="col-md-12" style="margin-top: 20px;">
                                                <table class="table table-bordered table-responsive table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th width="5%">NO.</th>
                                                        <th>NO. ORDER</th>
                                                        <th>JUDUL IKLAN</th>
                                                        <th>NETTO</th>
                                                        <th width="5%">REMOVE</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="orderGabungList">
                                                    <tr><td colspan="10">SILAKAN TAMBAH ORDER IKLAN</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-md-12">
                                                <ul class="pagination pagination-sm pull-right" id="invoiceGabungPagination"></ul>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="">NETTO</label>
                                                <div class="input-group" id="">
                                                    <input type="text" readonly id="nettoGabung" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button id="btn-gabung-invoice" disabled class="btn btn-danger btn-flat" type="button">BUAT FAKTUR</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {#End Add Modal#}
{%- endblock -%}