{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Adv/Orders.js"></script>
    <script src="/assets/scripts/Adv/Invoices.js"></script>
    <script src="/assets/scripts/Adv/OrderInvoices.js"></script>
    <script src="/assets/scripts/Adv/InvoicesPrint.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <select class="form-control" id="searchOrderForPrint" style="width: 100%"></select>
                    </div>
                    <div class="col-md-2">
                        <button id="btnAddOrderForPrint" class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                        <tr>
                            <th width="3%">NO.</th>
                            <th width="10%">NO. ORDER</th>
                            <th width="35%">JUDUL</th>
                            <th>PEMASANG</th>
                            <th width="10%">NETTO</th>
                        </tr>
                        </thead>
                        <tbody id="orderForPrintList">
                            <tr><td colspan="10">BELUM ADA DATA</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a href="#" type="button" id="printInvoicesBtn" class="btn btn-flat btn-success pull-right hidden"><i class="fa fa-print"></i> CETAK</a>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}