{% extends 'layout.twig' %}

{% block js %}
    <script>
        window.module = 'activity_loggers';
        var columns = [
            'clientName',
            'username',
            'path',
            'requestMethod',
            'path',
            'user.fullname'
        ];
    </script>
    <script src="/assets/scripts/global-crud.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">

                    <div class="col-md-3">
                        <a href="#" class="clients add-btn btn btn-flat btn-danger">Add</a>
                    </div>

                    <div class="col-md-9">
                        <a href="#" style="visibility: hidden;" class="btn"></a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Api Key</th>
                            <th>User</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody class="clients">
                            <tr><td colspan="6">LOADING DATA...</td></tr>
                        </tbody>

                    </table>

                    {#ADD MODAL#}
                    <div class="clients add-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Add a Client</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label>User</label>
                                                <select disabled name="user" id="users-fullname" class="form-control select-add-modal loading">
                                                    <option selected>Loading...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div class="clients detail-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail of a Role</h4>
                                </div>
                                <div class="modal-body roles detail">
                                    <form role="form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="user">User</label>
                                                <input type="text" name="user" class="form-control object" id="user-fullname">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                    {#EDIT MODAL#}
                    <div class="clients edit-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Edit a Client</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients edit form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label>User</label>
                                                <select name="user" data-object="users-fullname" data-selected="user-fullname" class="form-control select-edit-modal">
                                                    <option selected>Loading...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients edit btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END EDIT MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="modules pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}