{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/global-crud.js"></script>
    <script src="/assets/scripts/helpdesk-tickets.js"></script>

    <script>
        window.module = 'helpdesk/tickets';
        window.field = 'name';
        var columns = [
            'client.fullname',
            'staff.user.fullname',
            'category.name',
            'title',
            'message',
            'priority',
            'status',
            'createdAt'
        ];
//        tr += '<td>'+moment(value.createdAt).format('LLLL')+'</td>'
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">

                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <input type="hidden" id="currentUser" value="{{ me.id }}">
                    <input type="hidden" id="admin" value="{{ admin.id }}">

                    <input type="hidden" name="read" value="false">

                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#assignedTo" id="assignedTo" aria-controls="home" role="tab" data-toggle="tab">TIKET-KU</a></li>
                                <li><a href="#closedTickets" id="closedTickets" aria-controls="profile" role="tab" data-toggle="tab">CLOSED TIKET</a></li>
                                <li><a href="#allTickets" id="allTickets" aria-controls="profile" role="tab" data-toggle="tab">SEMUA TIKET</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">


                            {#ASSIGNED TO ME tiket#}
                            <div id="assignedTo" role="tabpanel" class="tab-pane fade active in">

                                <div class="row">
                                    <div class="col-md-12">

                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>

                                                <th>#</th>
                                                <th>Kategori</th>
                                                <th>Judul</th>
                                                <th>Status</th>
                                                <th>Prioritas</th>
                                                <th>Tanggal Buat Tiket</th>
                                                <th>AKSI</th>

                                            </tr>
                                            </thead>

                                            <tbody id="assignedToMe">
                                            <tr><td colspan="9">LOADING DATA...</td></tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            {#end ASSIGNED TO ME tiket#}

                            {#closed tiket#}
                            <div id="closedTickets" role="tabpanel" class="tab-pane fade">

                                <div class="row">
                                    <div class="col-md-12">

                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>

                                                <th>#</th>
                                                <th>Kategori</th>
                                                <th>Judul</th>
                                                <th>Status</th>
                                                <th>Prioritas</th>
                                                <th>Tanggal Buat Tiket</th>

                                            </tr>
                                            </thead>

                                            <tbody id="closedTicketList">
                                            <tr><td colspan="9">LOADING DATA...</td></tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            {#end closed tiket#}


                            {#<-- semua tiket#}
                            <div id="allTickets" role="tabpanel" class="tab-pane fade">

                                <div class="row">
                                    <div class="col-md-12">

                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th>Klien</th>
                                                <th>Staff</th>
                                                <th>Kategori</th>
                                                <th>Judul</th>
                                                {#<th>Pesan</th>#}
                                                <th>Status</th>
                                                <th>Prioritas</th>
                                                <th>Tanggal Buat Tiket</th>
                                                <th><span class="pull-right">Aksi</span></th>
                                            </tr>
                                            </thead>
                                            {#tbody helpdesk/tickets -- JANGAN DIHAPUS!#}
                                            {#<tbody data-list="helpdesk/tickets">#}
                                            <tbody id="allTicketList">
                                            <tr><td colspan="9">LOADING DATA...</td></tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </div>
                            {#<-- end semua tiket#}

                            </div>
                            {#<-- end tab content#}
                    </div>
                    {#<-- end panel with nav tabs#}

                        {#modal forum#}
                    <div class="modal fade" id="tiketModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">HELPDESK FORUM<span class="pull-right"><button type="button" class="close" data-dismiss="modal">&times;</button></span></h4>
                                </div>
                                <div class="modal-body"> <!-- start modal -->

                                    <div class="row">
                                        <div class="col-md-12" >

                                            {#detail tic inside modal forum#}
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <ul class="list-group listDetail">

                                                            <li class="list-group-item">Nama Klien : </span><span class="well-sm" id="list-client">-</span></li>
                                                            <li class="list-group-item"><span>Kategori : </span><span class="well-sm" id="list-cat">-</span></li>
                                                            <li class="list-group-item"><span>Judul : </span><span class="well-sm" id="list-title">-</span></li>
                                                            <li class="list-group-item"><span>Tanggal Tiket : </span><span class="well-sm" id="list-tgl-post">-</span></li>

                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                            {#end detail tic inside modal forum#}

                                            <input type="hidden" id="msg">

                                            <div class="well well-sm" align="center"><span class="fa fa-hand-o-down pull-left"></span><b>Selamat Datang di Forum Helpdesk!</b><span class="fa-hand-o-down pull-right"></span></div>

                                            <div class="box direct-chat">

                                                <div class="box-body">
                                                    <!-- Conversations are loaded here -->
                                                    <div class="direct-chat-messages" id="chatHistory">
                                                        <!-- Message. Default to the left -->
                                                        <div class="media" id="mediaForum">
                                                        <div class="media-left">
                                                            <img src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png" class="media-object" style="width:60px">';
                                                        </div>
                                                            <div class="media-body">
                                                                <h6 class="pull-right"><i class="fa fa-clock-o fa-1" aria-hidden="true"></i> Hari, Tanggal dan Jam</h6>
                                                                <h4 class="media-heading">Nama Klien / Staff</h4>
                                                                <p>Isi Pesan</p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <!-- /.direct-chat-msg -->

                                                    </div>

                                                    <!--/.direct-chat-messages-->

                                                </div>
                                                <!-- /.box-body -->
                                                <div class="col-sm-12">
                                                    <div id="typing_on" class="clearfix text-muted visible-lg"></div>
                                                </div>
                                                <div class="box-footer">
                                                    <div class="input-group">
                                                        <input type="text" name="message" placeholder="Ketik pesan Anda ..." class="form-control not-ucase" id="chatMessage" autocomplete="off" maxlength="200" style="width: 99%">
                                                        <span class="input-group-btn">
                                                        &nbsp;<button type="button" class="btn btn-primary btn-flat" id="send">Send</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- /.box-footer-->
                                            </div>
                                            <!--/.direct-chat -->
                                        </div>

                                        <input type="hidden" name="id" id="id">
                                    </div>

                                </div> <!-- end modal -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    {#DETAIL MODAL KONFIRMASI TIKET#}
                    <div class="modal" role="dialog" id="confirm-tic">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Ambil Tiket</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="formKonfirmasiTiket">
                                        <div class="box-body row">


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="judul">Staff</label>
                                                    <select name="staff" class="form-control" id="staff" style="width: 100%"></select>
                                                </div>
                                            </div>

                                        </div>
                                        <input type="hidden" name="id" id="id">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="edit btn btn-flat btn-danger" id="assign-tic">Assign Ticket</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="clients" class="clients pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}