{% extends 'layout.twig' %}

{%- block content -%}
    {#<div class="row">#}
        {#<div class="col-lg-3 col-xs-6">#}
            {#<div class="small-box bg-red box-menu home-menu">#}
                {#<input type="hidden" value="administration">#}
                {#<div class="inner">#}
                    {#<h4>ADMINISTRATION</h4>#}
                    {#<p style="visibility: hidden">Lorem ipsum...</p>#}
                {#</div>#}
                {#<div class="icon">#}
                    {#<i class="fa fa-files-o"></i>#}
                {#</div>#}
                {#<span class="small-box-footer" style="visibility: hidden;">More <i class="fa fa-arrow-circle-right"></i></span>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-lg-3 col-xs-6">#}
            {#<div class="small-box bg-red box-menu home-menu">#}
                {#<input type="hidden" value="account_management">#}
                {#<div class="inner">#}
                    {#<h4>ACCOUNT MANAGEMENT</h4>#}
                    {#<p style="visibility: hidden">Lorem ipsum...</p>#}
                {#</div>#}
                {#<div class="icon">#}
                    {#<i class="fa fa-user-circle-o"></i>#}
                {#</div>#}
                {#<span class="small-box-footer" style="visibility: hidden;">More <i class="fa fa-arrow-circle-right"></i></span>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-lg-3 col-xs-6">#}
            {#<div class="small-box bg-red box-menu home-menu" data-category="customer_client">#}
                {#<input type="hidden" value="customer_client">#}
                {#<div class="inner">#}
                    {#<h4>CUSTOMER/CLIENT</h4>#}
                    {#<p style="visibility: hidden">Lorem ipsum...</p>#}
                {#</div>#}
                {#<div class="icon">#}
                    {#<i class="fa fa-users"></i>#}
                {#</div>#}
                {#<span class="small-box-footer" style="visibility: hidden;">More <i class="fa fa-arrow-circle-right"></i></span>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-lg-3 col-xs-6">#}
            {#<div class="small-box bg-red box-menu home-menu">#}
                {#<input type="hidden" value="organization">#}
                {#<div class="inner">#}
                    {#<h4>ORGANIZATION</h4>#}
                    {#<p style="visibility: hidden">Lorem ipsum...</p>#}
                {#</div>#}
                {#<div class="icon">#}
                    {#<i class="fa fa-building-o"></i>#}
                {#</div>#}
                {#<span class="small-box-footer" style="visibility: hidden;">More <i class="fa fa-arrow-circle-right"></i></span>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-lg-3 col-xs-6">#}
            {#<div class="small-box bg-red box-menu home-menu">#}
                {#<input type="hidden" value="utility">#}
                {#<div class="inner">#}
                    {#<h4>UTILITY</h4>#}
                    {#<p style="visibility: hidden">Lorem ipsum...</p>#}
                {#</div>#}
                {#<div class="icon">#}
                    {#<i class="fa fa-wrench"></i>#}
                {#</div>#}
                {#<span class="small-box-footer" style="visibility: hidden;">More <i class="fa fa-arrow-circle-right"></i></span>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{%- endblock -%}