{%- spaceless -%}
    <!DOCTYPE html>
    <html lang="en-us">
    <head>
        {%- include 'layout/header.twig' with { 'title': title } -%}
        {%- if css is defined -%}
            {{- css | raw -}}
        {%- endif -%}
    </head>
        <body class="skin-red sidebar-mini sidebar-collapse">
            <div class="wrapper">
                {% set image = me.profileImage | split('.') %}

                {%- include 'layout/body_header.twig' -%}
                {%- include 'layout/menu.twig' -%}
                {%- include 'layout/content.twig' with {content: block('content')} -%}
                {%- include 'layout/footer.twig' -%}
                {% block js %}{% endblock %}
            </div>
        </body>
    </html>
{%- endspaceless -%}