{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/global-crud.js"></script>
    <script>
        window.module = 'helpdesk/staffs';
        window.field = 'name';
        var columns = [
            'user.fullname',
            'category.name'
        ];
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-12 search-area transition">
                        <select data-placeholder="CARI NAMA KATEGORI HELPDESK" class="search-name form-control select2" style="width: 100%;">
                            <option></option>
                        </select>
                    </div>

                    <div class="button-area transition">
                        <a href="JavaScript:Void(0);" data-btn-add="helpdesk/staffs" style="visibility: hidden;" class="clients add-btn h btn btn-flat btn-block btn-danger">Add</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th width="30%">User</th>
                            <th>Kategori</th>
                            <th width="5%"><span class="pull-right">Aksi</span></th>
                        </tr>
                        </thead>

                        <tbody data-list="helpdesk/staffs">
                        <tr><td colspan="4">LOADING DATA...</td></tr>
                        </tbody>

                    </table>

                    {#ADD MODAL#}
                    <div data-modal-add="helpdesk/staffs" class="clients add-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Staf Helpdesk</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Pengguna</label>
                                                <select name="user" id="user" data-object="users#username" class="form-control select-add-modal">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Kategori</label>
                                                <select name="category" id="category" data-object="helpdesk/categories#name" class="form-control select-add-modal">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div data-modal-detail="helpdesk/staffs" class="clients detail-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail Kategori Helpdesk</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients detail form">
                                        <div class="form-group">
                                            <label>Pengguna</label>
                                            <select name="user" data-object="users#username" data-selected="user#username" class="form-control select-edit-modal">
                                                <option></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Kategori</label>
                                            <select name="category" data-object="helpdesk/categories#name" data-selected="category#name" class="form-control select-edit-modal">
                                                <option></option>
                                            </select>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients edit btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="helpdesk/staffs" class="clients pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}