{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Adv/Orders.js"></script>
    <script src="/assets/scripts/Adv/OrderInvoices.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header" style="margin-bottom: 0px;">
                    <select class="form-control" id="searchInvoices" style="width: 100%"></select>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                        <tr>
                            <th width="3%">NO.</th>
                            <th width="15%">NOMOR ORDER</th>
                            <th width="25%">JUDUL IKLAN</th>
                            <th width="10%">STATUS FAKTUR</th>
                            <th>FAKTUR</th>
                            <th width="3%"><span class="pull-right">AKSI</span></th>
                        </tr>
                        </thead>
                        <tbody id="ordersList"></tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul id="ordersPagination" class="pagination pagination-sm pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Modal#}
    <div id="invoicesModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">MEMBUAT FAKTUR ORDER</h4>
                </div>
                <div class="modal-body">
                    {#<div class="box">#}
                        <div class="box-body">
                            <table class="table table-bordered table-responsive">
                                <tr>
                                    <th width="20%">NO. ORDER</th>
                                    <td id="orderNumber" colspan="2"></td>
                                </tr>
                                <tr>
                                    <th>SISA</th>
                                    <td id="sisa" colspan="2"></td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: middle">MASUKKAN JUMLAH</th>
                                    <td>
                                        <input type="text" class="form-control" id="amount">
                                    </td>
                                    <td width="20%">
                                        <button class="btn btn-danger btn-flat btn-block" id="generateInvoice">BUAT FAKTUR</button>
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-bordered table-responsive table-hover" style="margin-top: 20px">
                                <thead>
                                <tr>
                                    <th width="3%">NO.</th>
                                    <th>NO. FAKTUR</th>
                                    <th width="15%">JUMLAH</th>
                                    <th width="10%">STATUS</th>
                                </tr>
                                </thead>
                                <tbody id="invoicesList"></tbody>
                            </table>
                        </div>

                        <div class="box-footer">
                            <ul id="invoicesPagination" class="pagination pagination-sm pull-right"></ul>
                        </div>
                    {#</div>#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    {#Modal#}
{%- endblock -%}