{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/global-crud.js"></script>
    <script>
        window.module = 'advertising/categories/root';
        window.field = 'name';
        var columns = [
            'name'
        ];

        $(document).on('click', 'tbody[data-list="advertising/categories/root"] tr', function (e) {
            var parentId = $(this).attr('id');

            if ($(this).hasClass("bg-yellow")) {
                $(this).removeClass("bg-yellow");
            } else {
                $(this).addClass("bg-yellow");
                $(this).siblings().removeClass('bg-yellow');
            }

            changeUrlParam('parent.id', parentId);
            getAll('advertising/categories', columns, 'data-list-2');
            $('.sektor').attr('data-toggle', 'tab');
            $('.sub-sektor').removeAttr('data-toggle');
        });

        $(document).on('click', 'tbody[data-list-2="advertising/categories"] tr', function (e) {
            var parentId = $(this).attr('id');

            if ($(this).hasClass("bg-yellow")) {
                $(this).removeClass("bg-yellow");
            } else {
                $(this).addClass("bg-yellow");
                $(this).siblings().removeClass('bg-yellow');
            }

            changeUrlParam('parent.id', parentId);
            getAll('advertising/categories', columns, 'data-list-3');
            $('.sub-sektor').attr('data-toggle', 'tab');
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-12 search-area transition">
                        <select data-placeholder="CARI NAMA KATEGORI IKLAN" class="search-name form-control select2" style="width: 100%;">
                            <option></option>
                        </select>
                    </div>

                    <div class="button-area transition">
                        <a href="JavaScript:Void(0);" data-btn-add="advertising/categories" style="visibility: hidden;" class="clients add-btn h btn btn-flat btn-block btn-danger">Add</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <ul class="nav nav-tabs" id="advCategories">
                        <li class="active"><a href="#emiten" data-toggle="tab">EMITEN</a></li>
                        <li><a class="sektor" href="#sektor">SEKTOR</a></li>
                        <li><a class="sub-sektor" href="#sub-sektor">SUB SEKTOR</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="emiten" class="tab-pane fade in active">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>EMITEN</th>
                                    <th width="5%"><span class="pull-right">Aksi</span></th>
                                </tr>
                                </thead>

                                <tbody data-list="advertising/categories/root" class="adv-cat">
                                    <tr><td colspan="3">...</td></tr>
                                </tbody>

                            </table>
                        </div>
                        <div id="sektor" class="tab-pane fade">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>SEKTOR</th>
                                    <th width="5%"><span class="pull-right">Aksi</span></th>
                                </tr>
                                </thead>

                                <tbody data-list-2="advertising/categories" class="adv-cat">
                                    <tr><td colspan="3">...</td></tr>
                                </tbody>

                            </table>
                        </div>
                        <div id="sub-sektor" class="tab-pane fade">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th width="5%">#</th>
                                    <th>SUB SEKTOR</th>
                                    <th width="5%"><span class="pull-right">Aksi</span></th>
                                </tr>
                                </thead>

                                <tbody data-list-3="advertising/categories" class="adv-cat">
                                <tr><td colspan="3">...</td></tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    {#ADD MODAL#}
                    <div data-modal-add="advertising/categories" class="clients add-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Kategori Induk</label>
                                                <select name="parent" data-object="advertising/categories#name" class="form-control select-add-modal">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div data-modal-detail="advertising/categories" class="clients detail-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Kategori Induk</label>
                                                <select name="parent" data-object="advertising/categories#name" data-selected="parent#name" class="form-control select-edit-modal">
                                                    <option selected>Loading...</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients edit btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="advertising/categories" class="clients pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}