{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/advertising-categories.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-12 search-area transition">
                        <select data-placeholder="CARI NAMA KATEGORI IKLAN" class="search-name form-control select2" style="width: 100%;">
                            <option></option>
                        </select>
                    </div>

                    <div class="button-area transition">
                        <a href="JavaScript:Void(0);" data-btn-add="advertising/categories" style="visibility: hidden;" class="clients add-btn h btn btn-flat btn-block btn-danger">Add</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>

                <div class="box-body">

                    <ul class="nav nav-tabs" id="advCategories">
                        <li class="active"><a href="#emiten" data-toggle="tab">EMITEN</a></li>
                        <li><a class="sektor" href="#sektor">SEKTOR</a></li>
                        <li><a class="sub-sektor" href="#sub-sektor">SUB SEKTOR</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="emiten" class="tab-pane fade in active">
                            {#EMITEN TAB#}
                            <div class="box-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="5%">#</th>
                                            <th>EMITEN</th>
                                            <th width="5%"><span class="pull-right">Aksi</span></th>
                                        </tr>
                                        </thead>

                                        <tbody id="emitenTable">
                                            <tr><td colspan="3">...</td></tr>
                                        </tbody>
                                </table>
                            </div>
                            <div class="box-footer clearfix">
                                <ul class="pagination pagination-sm no-margin pull-right"></ul>
                            </div>

                            {#DETAIL EMITEN#}
                            <div id="emitenModal" class="detail-modal modal" role="dialog">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Detail Emiten</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" class="detail form">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label for="name">Emiten</label>
                                                        <input type="text" name="name" class="form-control" id="name">
                                                    </div>
                                                </div>
                                                <input type="hidden" name="id" id="id">
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="edit btn btn-flat btn-danger">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#END DETAIL EMITEN#}

                            {#END EMITEN TAB#}
                        </div>
                        <div id="sektor" class="tab-pane fade">
                            <div class="box-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th>SEKTOR</th>
                                        <th width="5%"><span class="pull-right">Aksi</span></th>
                                    </tr>
                                    </thead>

                                    <tbody id="sektorTable">
                                        <tr><td colspan="3">...</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="sub-sektor" class="tab-pane fade">
                            <div class="box-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th width="5%">#</th>
                                        <th>SUB SEKTOR</th>
                                        <th width="5%"><span class="pull-right">Aksi</span></th>
                                    </tr>
                                    </thead>

                                    <tbody id="subSektorTable">
                                        <tr><td colspan="3">...</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {#ADD MODAL#}
                    <div id="" class="clients add-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Kategori Induk</label>
                                                <select name="parent" data-object="advertising/categories#name" class="form-control select-add-modal">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                </div> {#end box body#}
        </div>
    </div>
{%- endblock -%}