{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/bootstrap-menu/BootstrapMenu.min.js"></script>
    <script src="/assets/scripts/adv-categories.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">&nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-5">
                        <ul id="categoriesTree" style="font-size: 16px;">
                            <li><span>KATEGORI IKLAN</span></a>
                                <ul>{{ categories|raw }}</ul>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-7">

                    </div>

                    {#ADD MODAL#}
                    <div id="addCategory" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Nama Kategori">
                                            </div>
                                            <input type="hidden" name="parent" id="parent">
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                                    <button type="button" id="saveCategory" class="btn btn-flat btn-danger">SIMPAN</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div id="editCategory" class="detail-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Edit Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" id="updateCategory" class="btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="advertising/categories" class="clients pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}