{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Adv/Categories.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">&nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-6" id="categoriesTree"></div>

                    <div class="col-md-6">
                        <div class="callout callout-success">
                            <h4>Tips!</h4>

                            <p><i class="fa fa-caret-right"></i> Klik kanan pada kategori yang diinginkan untuk menambah, meng<em>edit</em> dan menghapus kategori<br>
                                <i class="fa fa-caret-right"></i> Klik ikon <em>folder</em> untuk membuka/menutup anak kategori</p>
                        </div>
                    </div>

                    {#ADD MODAL#}
                    <div id="addModal" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" id="addForm">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Nama Kategori">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                                    <button type="button" id="btn-add" class="btn btn-flat btn-danger">SIMPAN</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div id="detailModal" class="detail-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Edit Kategori Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" id="detailForm">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Kategori</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" id="btn-update" class="btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix"></div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}