{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Admin/Cities.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <select class="form-control" id="searchCities" style="width: 100%"></select>
                    </div>
                    <div class="col-md-2">
                        <button disabled id="btnAddCity" class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                        <tr>
                            <th width="3%">NO.</th>
                            <th>PARENT</th>
                            <th>KODE</th>
                            <th>KOTA</th>
                            <th>KODE POS</th>
                            <th width="4%"><span class="pull-right">AKSI</span></th>
                        </tr>
                        </thead>
                        <tbody id="citiesList"></tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul id="citiesPagination" class="pagination pagination-sm pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    {#Add Modal#}
    <div id="addModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TAMBAH KOTA</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm">
                        <div class="form-group">
                            <label for="addParent">PARENT</label>
                            <select type="text" name="parent" id="addParent" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="form-group">
                            <label for="addCode">KODE</label>
                            <input type="text" name="code" id="addCode" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addName">KOTA</label>
                            <input type="text" name="name" id="addName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addPostalCode">KODE POS</label>
                            <input type="text" name="postalCode" id="addPostalCode" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">TUTUP</button>
                    <button type="button" id="btn-add" class="btn btn-danger btn-flat">SIMPAN</button>
                </div>
            </div>

        </div>
    </div>
    {#End Add Modal#}

    {#Detail Modal#}
    <div id="detailModal" class="modal" role="dialog">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DETAIL KLIEN</h4>
                </div>
                <div class="modal-body">
                    <form id="detailForm">
                        <div class="form-group">
                            <label for="detailParent">PARENT</label>
                            <select type="text" name="parent" id="detailParent" class="form-control" style="width:100%"></select>
                        </div>
                        <div class="form-group">
                            <label for="detailCode">KODE</label>
                            <input type="text" name="code" id="detailCode" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="detailName">KOTA</label>
                            <input type="text" name="name" id="detailName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="detailPostalCode">KODE POS</label>
                            <input type="text" name="postalCode" id="detailPostalCode" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">TUTUP</button>
                    <button type="button" id="btn-update" class="btn btn-danger btn-flat">SIMPAN</button>
                </div>
            </div>

        </div>
    </div>
    {#End Detail Modal#}
{%- endblock -%}