{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/Adv/Customers.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" style="margin-bottom: 0px;">
                    <div class="col-md-10">
                        <select class="form-control" id="searchCustomers" style="width: 100%"></select>
                    </div>
                    <div class="col-md-2">
                        <button disabled id="btnAddCustomer" class="btn btn-danger btn-flat btn-block">TAMBAH</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="3%">NO.</th>
                            <th>KODE</th>
                            <th>NAMA</th>
                            <th>PERWAKILAN</th>
                            <th>KOTA</th>
                            <th>KODE POS</th>
                            <th>NO. TELEPON</th>
                            <th width="5%"><span class="pull-right">AKSI</span></th>
                        </tr>
                        </thead>

                        <tbody id="customersList"></tbody>

                    </table>

                    {#ADD MODAL#}
                    <div id="addModal" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">TAMBAH PELANGGAN IKLAN</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" id="addForm">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="addRepresentative">PERWAKILAN</label>
                                                <select name="representative" id="addRepresentative" class="form-control" style="width: 100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCode">KODE</label>
                                                <input type="text" name="Code" id="addCode" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addName">NAMA</label>
                                                <input type="text" name="name" id="addName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addAddress">ALAMAT</label>
                                                <textarea name="address" id="addAddress" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="addCity">KOTA</label>
                                                <select name="city" id="addCity" class="form-control" style="width:100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addPostalCode">KODE POS</label>
                                                <input type="text" name="postalCode" id="addPostalCode" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addPhoneNumber">NO. TELEPON</label>
                                                <input type="text" name="phoneNumber" id="addPhoneNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addFaxNumber">NO. FAX</label>
                                                <input type="text" name="faxNumber" id="addFaxNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addPartnershipDate">TANGGAL REGISTRASI</label>
                                                <input type="text" name="partnershipDate" id="addPartnershipDate" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addTaxNumber">DATA PAJAK: NPWP</label>
                                                <input type="text" name="taxNumber" id="addTaxNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addTaxAddress">DATA PAJAK: ALAMAT</label>
                                                <textarea name="taxAddress" id="addTaxAddress" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="addTaxCity">DATA PAJAK: KOTA</label>
                                                <select name="taxCity" id="addTaxCity" class="form-control" style="width:100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addTaxPhoneNumber">DATA PAJAK: NO. TELEPON</label>
                                                <input type="text" name="taxPhoneNumber" id="addTaxPhoneNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addTaxFaxNumber">DATA PAJAK: NO. FAX</label>
                                                <input type="text" name="taxFaxNumber" id="addTaxFaxNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addPresidentDirectorName">NAMA PRESIDEN DIREKTUR</label>
                                                <input type="text" name="presidentDirectorName" id="addPresidentDirectorName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addMediaManagerName">NAMA MANAJER MEDIA</label>
                                                <input type="text" name="mediaManagerName" id="addMediaManagerName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addBankAccountNumber">NO. REKENING</label>
                                                <input type="text" name="bankAccountNumber" class="form-control" id="addBankAccountNumber">
                                            </div>
                                            <div class="form-group">
                                                <label for="addBank">BANK</label>
                                                <select name="bank" id="addBank" class="form-control" style="width:100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addRemark">CATATAN</label>
                                                <input type="text" name="remark" id="addRemark" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addCreditLimit">LIMIT KREDIT</label>
                                                <input type="text" name="creditLimit" id="addCreditLimit" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="addBillingGroup">GRUP TAGIHAN</label>
                                                <select name="billingGroup" id="addBillingGroup" class="form-control" style="width:100%"></select>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                                    <button type="button" id="btn-add" class="btn btn-flat btn-danger">SIMPAN</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div id="detailModal" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail Pelanggan Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" id="detailForm">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="detailRepresentative">PERWAKILAN</label>
                                                <select name="representative" id="detailRepresentative" class="form-control" style="width: 100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="detailCode">KODE</label>
                                                <input type="text" name="Code" id="detailCode" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailName">NAMA</label>
                                                <input type="text" name="name" id="detailName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailAddress">ALAMAT</label>
                                                <textarea name="address" id="detailAddress" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="detailCity">KOTA</label>
                                                <select name="city" id="detailCity" class="form-control" style="width:100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="detailPostalCode">KODE POS</label>
                                                <input type="text" name="postalCode" id="detailPostalCode" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailPhoneNumber">NO. TELEPON</label>
                                                <input type="text" name="phoneNumber" id="detailPhoneNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailFaxNumber">NO. FAX</label>
                                                <input type="text" name="faxNumber" id="detailFaxNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailPartnershipDate">TANGGAL REGISTRASI</label>
                                                <input type="text" name="partnershipDate" id="detailPartnershipDate" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailTaxNumber">DATA PAJAK: NPWP</label>
                                                <input type="text" name="taxNumber" id="detailTaxNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailTaxAddress">DATA PAJAK: ALAMAT</label>
                                                <textarea name="taxAddress" id="detailTaxAddress" class="form-control"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="detailTaxCity">DATA PAJAK: KOTA</label>
                                                <select name="taxCity" id="detailTaxCity" class="form-control" style="width:100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="detailTaxPhoneNumber">DATA PAJAK: NO. TELEPON</label>
                                                <input type="text" name="taxPhoneNumber" id="detailTaxPhoneNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailTaxFaxNumber">DATA PAJAK: NO. FAX</label>
                                                <input type="text" name="taxFaxNumber" id="detailTaxFaxNumber" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailPresidentDirectorName">NAMA PRESIDEN DIREKTUR</label>
                                                <input type="text" name="presidentDirectorName" id="detailPresidentDirectorName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailMediaManagerName">NAMA MANAJER MEDIA</label>
                                                <input type="text" name="mediaManagerName" id="detailMediaManagerName" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailBankAccountNumber">NO. REKENING</label>
                                                <input type="text" name="bankAccountNumber" class="form-control" id="detailBankAccountNumber">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailBank">BANK</label>
                                                <select name="bank" id="detailBank" class="form-control" style="width:100%"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="detailRemark">CATATAN</label>
                                                <input type="text" name="remark" id="detailRemark" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailCreditLimit">LIMIT KREDIT</label>
                                                <input type="text" name="creditLimit" id="detailCreditLimit" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="detailBillingGroup">GRUP TAGIHAN</label>
                                                <select name="billingGroup" id="detailBillingGroup" class="form-control" style="width:100%"></select>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">TUTUP</button>
                                    <button type="button" id="btn-update" class="btn btn-flat btn-danger">SIMPAN</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul id="customersPagination" class="pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}