{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/global-crud.js"></script>
    <script src="/assets/scripts/adv-specifications.js"></script>
    <script>
        window.module = 'advertising/specifications';
        window.field = 'name';
        var columns = [
            'name'
        ];
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-12 search-area transition">
                        <select data-placeholder="CARI JENIS IKLAN" class="search-name form-control select2" style="width: 100%;">
                            <option></option>
                        </select>
                    </div>

                    <div class="button-area transition">
                        <a href="JavaScript:Void(0);" data-btn-add="advertising/specifications" style="visibility: hidden;" class="clients add-btn h btn btn-flat btn-block btn-danger">Add</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="5%">#</th>
                            <th>Jenis Iklan</th>
                            <th width="7%"><span class="pull-right">Aksi</span></th>
                        </tr>
                        </thead>

                        <tbody data-list="advertising/specifications">
                            <tr><td colspan="3">...</td></tr>
                        </tbody>

                    </table>

                    {#ADD MODAL#}
                    <div data-modal-add="advertising/specifications" class="clients add-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Jenis Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Jenis Iklan</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div data-modal-detail="advertising/specifications" class="clients detail-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Jenis Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Jenis Iklan</label>
                                                <input type="text" name="name" class="form-control" id="name">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="clients edit btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                    {#JENIS DETAIL MODAL#}
                    <div id="detail-jenis" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail Jenis Iklan</h4>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-12 detail-jenis-search transition">
                                            <select id="search-spec-detail" class="form-control"></select>
                                        </div>
                                        <div class="button-detail-jenis-area transition">
                                            <a href="JavaScript:Void(0);" style="visibility: hidden;" data-id="" class="add-btn add-adv-detail h btn btn-flat btn-block btn-danger">Add</a>
                                        </div>
                                    </div>

                                    <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nama</th>
                                                <th>Tipe</th>
                                                <th>Keterangan</th>
                                                <th width="15%"><span class="pull-right">Action</span></th>
                                            </tr>
                                        </thead>

                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#END JENIS DETAIL MODAL#}

                    {#FORM DETAIL MODAL#}
                    <div id="form-detail" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="clients detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                            <label for="name">Nama</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Nama">
                                        </div> style="margin-top: 20px;"
                                        <div class="form-group">
                                            <label for="tipe">Tipe</label>
                                            <select name="type" id="type" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <label for="remark">Keterangan</label>
                                            <textarea name="remark" class="form-control" id="remark" placeholder="Keterangan"></textarea>
                                        </div>
                                        </div>
                                        <input type="hidden" name="id">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="update-detail btn btn-flat btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#END FORM DETAIL MODAL#}

                    {#FORM ADD DETAIL MODAL#}
                    <div id="form-add-detail" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Detail Jenis Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="name">Nama</label>
                                                <input type="text" name="name" class="form-control" id="name" placeholder="Nama">
                                            </div>
                                            <div class="form-group">
                                                <label for="tipe">Tipe</label>
                                                <select name="type" id="type" class="form-control"></select>
                                            </div>
                                            <div class="form-group">
                                                <label for="remark">Keterangan</label>
                                                <textarea name="remark" class="form-control" id="remark" placeholder="Keterangan"></textarea>
                                            </div>
                                        </div>
                                        <input type="hidden" name="specification">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="add-detail btn btn-flat btn-danger">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#END FORM ADD DETAIL MODAL#}

                    {#PRICE LIST MODAL#}
                    <div id="priceList" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">LIS HARGA IKLAN</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        {#<div class="col-md-12 harga-search transition">#}
                                            {#<select id="search-harga" class="form-control" style="width: 100%"></select>#}
                                        {#</div>#}
                                        {#<div class="button-harga-area transition">#}
                                            {#<a href="JavaScript:Void(0);" style="visibility: hidden;" data-id="" class="add-btn add-harga h btn btn-flat btn-block btn-danger">Add</a>#}
                                        {#</div>#}

                                        <div class="col-md-11"></div>
                                        <div class="col-md-1">
                                            <a href="JavaScript:Void(0);" data-id="" id="add-harga" class="add-btn h btn btn-flat btn-block btn-danger">Add</a>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover" style="margin-top: 10px;">
                                        <thead>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th>JENIS IKLAN</th>
                                                <th>DETAIL JENIS IKLAN</th>
                                                <th>TYPE</th>
                                                <th width="10%">TAHUN</th>
                                                <th>HARGA</th>
                                                <th>STATUS</th>
                                                <th width="10%"><span class="pull-right">AKSI</span></th>
                                            </tr>
                                        </thead>
                                        <tbody id="priceListBody">
                                        <tr>
                                            <td colspan="8">LOADING...</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END PRICE LIST MODAL#}

                    {#FORM DETAIL HARGA MODAL#}
                    <div id="detailHarga" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail Harga Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="year">Tahun</label>
                                                <input type="number" name="year" class="form-control" id="year" placeholder="Tahun">
                                            </div>
                                            <div class="form-group">
                                                <label for="price">Harga</label>
                                                <input type="text" name="price" class="form-control" id="price" placeholder="Price">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="active" id="active"> Aktif
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" id="id" name="id">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" id="updateHarga" class="btn btn-flat btn-danger">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#END DETAIL HARGA MODAL#}

                    {#FORM ADD HARGA MODAL#}
                    <div id="addHarga" class="modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Tambah Harga Iklan</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" class="detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="year">Tahun</label>
                                                <input type="number" name="year" class="form-control" id="year" placeholder="Tahun">
                                            </div>
                                            <div class="form-group">
                                                <label for="price">Harga</label>
                                                <input type="text" name="price" class="form-control" id="price" placeholder="Harga">
                                            </div>
                                            <input type="hidden" name="specificationDetail">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" id="saveHarga" class="btn btn-flat btn-danger">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#END ADD HARGA MODAL#}

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="advertising/specifications" class="clients pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}