{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/adv-order.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" id="searchArea" style="margin-bottom: 0px;">
                    <div class="col-md-12 search-area">
                        <select class="form-control" id="searchOrder"></select>
                    </div>

                    <div id="searchOrderBtnArea" class="button-area transition">
                        <a id="addOrder" href="/advertising/orders/new" style="visibility: hidden;" class="add-btn btn h btn-flat btn-block btn-danger">Add</a>
                    </div>
                </div>
                <div class="box-body">
                    <div id="dataList"></div>
                </div>
                <div class="box-footer clearfix"></div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}