{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/adv-order-invoices.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row" id="searchArea" style="margin-bottom: 0px;">
                    <div class="col-md-12 search-area">
                        <select class="form-control" id="searchOrder"></select>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr>
                                <th width="3%">NO.</th>
                                <th>NOMOR ORDER</th>
                                <th>JUDUL IKLAN</th>
                                <th>FAKTUR</th>
                                <th width="3%"><span class="pull-right">AKSI</span></th>
                            </tr>
                        </thead>
                        <tbody id="invoicesList"></tbody>
                    </table>
                </div>
                <div class="box-footer clearfix"></div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}