{% extends 'layout.twig' %}

{% block js %}
    <script>
        window.module = 'companies';
        var columns = [
            'name',
            'email',
            'address',
            'contactPerson',
            'phoneNumber',
        ];
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Companies List</h3>
                    &nbsp;&nbsp;&nbsp;
                    <a href="companies/add" class="btn btn-xs btn-flat btn-danger">Add</a>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Contact Person</th>
                                <th>Phone Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody class="companies tbody"></tbody>

                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% for page in companies['hydra:view'] %}
                            {% if page['hydra:first'] %}
                                <li><a href="{{ page }}" title="First page">FIRST</a></li>
                            {% endif %}
                            {% if page['hydra:next'] %}
                                <li><a href="{{ page }}" title="Next page">NEXT</a></li>
                            {% endif %}
                            {% if page['hydra:previous'] %}
                                <li><a href="{{ page }}" title="Previous page">PREVIOUS</a></li>
                            {% endif %}
                            {% if page['hydra:next'] %}
                                <li><a href="{{ page }}" title="Last page">LAST</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}