{% extends 'layout.twig' %}

{% block js %}
    <script type="text/javascript" src="/assets/scripts/SimpleGrid.js"></script>
    <script type="text/javascript" src="/assets/scripts/coba.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12" id="aeGrid"></div>
    </div>
{%- endblock -%}