{% extends 'layout.twig' %}

{%- block content -%}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Add User Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/users/process-add" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="fullname">Fullname</label>
                            <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Fullname">
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="username">Email address</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="plain-password">Password</label>
                            <input type="password" name="plainPassword" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Select</label>
                            <select name="company" class="form-control">
                                {% for company in companies %}
                                    <option value="{{ company.id }}">{{ company.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Roles</label>
                            <select multiple class="form-control" style="height: 200px;">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                                <option>option 6</option>
                                <option>option 7</option>
                                <option>option 8</option>
                                <option>option 9</option>
                                <option>option 10</option>
                            </select>
                            <p class="help-block">Hold ctrl or shift (or drag with the mouse) to select more than one</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="enabled" value="1"> <strong>Enabled</strong>
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-danger btn-flat">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}