{% extends 'layout.twig' %}

{%- block js -%}
    <script src="/assets/scripts/users.js"></script>
    <script src="/assets/scripts/global-crud.js"></script>

    <script src="/assets/scripts/Admin/Modules.js"></script>
    <script src="/assets/scripts/Admin/Roles.js"></script>
    <script src="/assets/scripts/Admin/Users.js"></script>
    <script src="/assets/scripts/Admin/Profile.js"></script>
{%- endblock -%}

{%- block content -%}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">
                    <div class="col-md-12 search-area transition">
                        <select data-placeholder="CARI USERNAME" class="search-username form-control select2" style="width: 100%;">
                            <option></option>
                        </select>
                    </div>

                    <div class="button-area transition">
                        <a href="JavaScript:Void(0);" data-btn-add="users" style="visibility: hidden;" class="users add-btn h btn btn-flat btn-block btn-danger">Add</a>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                </div>
                <!-- /.box-header -->
                <div class="box-body users">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:5%;">#</th>
                                <th style="width:30%;">Fullname</th>
                                <th style="width:30%;">Username</th>
                                <th style="width:15%;">Email</th>
                                {#<th style="width:9%;">Login State</th>#}
                                <th width="6%"><span class="pull-right">Action</span></th>
                            </tr>
                        </thead>

                        <tbody data-list="users">
                            <tr><td colspan="5">...</td></tr>
                        </tbody>
                    </table>

                    {#ADD MODAL#}
                    <div data-modal-add="users" class="users add-modal modal" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Add a User</h4>
                                </div>
                                <div class="modal-body users add">
                                    <form role="form" class="users add form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="fullname">Fullname</label>
                                                <input type="text" name="fullname" class="form-control" id="fullname" placeholder="Fullname">
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Email address</label>
                                                <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                                            </div>
                                            <div class="form-group">
                                                <label for="plainPassword">Password</label>
                                                <input type="password" name="plainPassword" class="form-control" id="plainPassword" placeholder="Password">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="enabled" id="enabled"> <strong>Enabled</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="users save btn btn-flat btn-danger">Save</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ADD MODAL#}

                    {#DETAIL MODAL#}
                    <div data-modal-detail="users" class="users detail-modal modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">Detail of User</h4>
                                </div>
                                <div class="modal-body users detail">
                                    <form role="form" class="users detail form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="fullname">Fullname</label>
                                                <input type="text" name="fullname" class="form-control" id="fullname"">
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" readonly class="form-control" id="username">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email address</label>
                                                <input type="email" name="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="plainPassword">Password</label>
                                                <input type="password" name="plainPassword" class="form-control" id="plainPassword">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="enabled" id="enabled"> <strong>Enabled</strong>
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="id">
                                        <!-- /.box-body -->
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="users edit btn btn-flat btn-danger">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END DETAIL MODAL#}

                    {#ROLES MODAL#}
                    <div class="users roles-modal modal" id="rolesModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title roles">{#Roles of#} <span></span></h4>
                                </div>
                                <div class="modal-body users roles">
                                    <form role="form" class="users form">
                                        <div class="box-body"  style="min-height: 300px;">

                                            <div class="panel with-nav-tabs panel-info">
                                                <div class="panel-heading">
                                                    <ul id="serviceTab" class="nav nav-tabs" role="tablist">
                                                        {% for service in services %}
                                                            <li class="{% if loop.index == 1 %}active{% endif %}">
                                                                <a href="#{{ service.code }}" aria-controls="{{ service.code }}" role="tab" data-toggle="tab">{{ service.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                                <div class="panel-body">
                                                    <div class="tab-content">

                                                        <input type="hidden" id="userId">

                                                        {% for service in services %}
                                                            <div role="tabpanel" class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ service.code }}">

                                                                <table class="table table-striped table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>NO.</th>
                                                                            <th>Module</th>
                                                                            <th>Viewable</th>
                                                                            <th>Addable</th>
                                                                            <th>Editable</th>
                                                                            <th>Deletable</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="roles-check">
                                                                        <tr>
                                                                            <td colspan="6">...</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.box-body -->
                                        <div class="box-footer clearfix roles-pagination"></div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    {#END ROLES MODAL#}
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul data-paging="users" class="users pagination pagination-sm no-margin pull-right"></ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}