{%- spaceless -%}
    <header class="main-header">
        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>JGO</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>SI</b>JAGO</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/img/user2-160x160.jpg" class="user-image" alt="{{- me.fullname | raw -}}">
                            <span class="hidden-xs">{{- me.fullname | raw -}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/img/bi.png" class="img-circle" alt="{{- me.fullname | raw -}}">

                                <p>
                                    {{- me.fullname | raw }}
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/profile" class="btn btn-primary btn-flat"><i class="fa fa-user-circle-o"></i> Profile</a>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-danger btn-flat" id="sign-out"><i class="fa fa-sign-out"></i> Logout</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{%- endspaceless -%}