{%- spaceless -%}
    <footer class="main-footer">
        <div class="pull-right hidden-xs"><b>Version 1.0.0</b></div>
        <strong>Copyright &copy; {{ 'now' | date('Y') }} <span style="color: #0d6aad">MIS Bisnis Indonesia</span></strong>
    </footer>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="/assets/jquery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/moment/moment.js"></script>
    <script src="/assets/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="/assets/bootstrap-datetimepicker/id.js"></script>
    <!-- FastClick -->
    <script src="/assets/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/assets/adminlte/js/app.js"></script>
    <script src="/assets/scripts/scripts.js"></script>

    <script src="/assets/select2/js/select2.full.min.js"></script>
    <script src="/assets/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="/assets/toastr/toastr.min.js"></script>
    <script src="/assets/bootbox/bootbox.min.js"></script>
    <script src="/assets/accountingjs/accounting.min.js"></script>
    <script src="/assets/jquery-price-format/jquery.priceformat.min.js"></script>
    <script src="/assets/scripts/adv-order.js"></script>
    <script>
        (function() {
            jQuery('li.treeview:has(ul.treeview-menu li)').removeClass('hidden');
            jQuery('ul.treeview-menu:has(ul.treeview-menu li)').removeClass('hidden');
        })();
    </script>
{%- endspaceless -%}