{% extends 'layout.twig' %}

{% block js %}
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    Header
                </div>
                <div class="box-body">
                    Body
                </div>
                <div class="box-footer clearfix">
                    Footer
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
{%- endblock -%}