{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/master-crud.js"></script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body"
                     sc-module="clients"
                     sc-grid="name#Nama,email#Email,apiKey#API Key,user.fullname#User"
                     sc-search="name"
                ></div>
        </div>
    </div>
{%- endblock -%}