{% extends 'layout.twig' %}

{% block js %}
    <script src="/assets/scripts/master-crud.js"></script>
    <script>
        $('#clientsCrud').simpleCrud({
            gridName: 'Clients',
            module: 'clients',
            gridTable: [
                {
                    field: 'name',
                    header: 'Nama',
                    width: '20%',
                },
                {
                    field: 'email',
                    header: 'Email',
                },
                {
                    field: 'apiKey',
                    header: 'Api Key',
                },
                {
                    field: 'user.fullname',
                    header: 'Nama User',
                },
            ],
            detailForm: [
                {
                    field: 'name',
                    label: 'Nama',
                    form: 'inputText',
                },
                {
                    field: 'email',
                    label: 'Email',
                    form: 'inputEmail',
                },
                {
                    field: 'apiKey',
                    label: 'Api Key',
                    form: 'textArea',
                },
                {
                    field: 'user.fullname',
                    label: 'User',
                    form: 'inputText',
                },
            ]
        });
    </script>
{% endblock %}

{%- block content -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div id="clientsCrud" class="box-body"></div>
            </div>
        </div>
    </div>
{%- endblock -%}