{% extends 'layout.twig' %}

{% block js %}

    <script type="text/javascript" src="/assets/scripts/Bisnis.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Style.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Dialog.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Ticket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Staff.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Chart.js"></script>
    <script type="text/javascript" src="/assets/scripts/User/User.js"></script>

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>#}

{% endblock %}

{%- block content -%}

        <!-- import plugin script -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

    <div class="row">
    <div class="col-md-12">

        <!-- line chart canvas element -->
        <canvas id="statusTicket" width="600" height="400"></canvas>

    </div>
    <br><br>

    <div class="col-md-12">
            <!-- bar chart canvas element -->
            <canvas id="createdTicket" width="600" height="400"></canvas>
    </div>
    <br><br>
    </div>

{%- endblock -%}