{% extends 'layout.twig' %}

{% block js %}

    <script type="text/javascript" src="/assets/scripts/Bisnis.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Style.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Dialog.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Ticket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Staff.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Chart.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Chart2017.js"></script> <!--baru-->
    <script type="text/javascript" src="/assets/scripts/User/User.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>#}

{% endblock %}

{%- block content -%}

        <!-- import plugin script -->
        {#<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

    <div class="hidden" id="currentUser">{{ me.id }}</div>
    {#<input type="hidden" id="currentUser">#}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">


                </div>

                <div class="box-body">
                    <canvas id="monthChart" width="1000" height="400"></canvas>
                    {#<div class="panel with-nav-tabs panel-info">#}
                        {#<div class="panel-heading">#}
                            {#<ul id="tabStatistics" class="nav nav-tabs" role="tablist">#}
                                {#<li class="active"><a href="#tabStatus" aria-controls="home" role="tab" data-toggle="tab">BERDASARKAN STATUS <div style="text-align: center"><i class="fa fa-battery-half fa-2x" aria-hidden="true"></i></div></a></li>#}
                                {#<li><a class="" href="#tabCreatedAt" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN TANGGAL BUAT <div style="text-align: center"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></div></a></li>#}
                                {#<li><a class="" href="#tabOthers" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN LAIN-LAIN<div style="text-align: center"><i class="fa fa-group fa-2x" aria-hidden="true"></i></div></a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<div class="tab-content">#}
                            {#<div id="tabStatus" role="tabpanel" class="tab-pane fade active in">#}
                                {#<div class="row">#}
                                    {#<div class="col-md-12">#}

                                        {#<div class="col-md-4">#}
                                            {#<!-- line chart canvas element -->#}
                                            {#<canvas id="statusTicketChart" width="400" height="400"></canvas>#}
                                        {#</div>#}

                                    {#</div>#}
                                {#</div>#}

                            {#</div>#}
                            {#<div id="tabCreatedAt" role="tabpanel" class="tab-pane fade">#}
                                {#<div class="row">#}
                                    {#<div class="col-md-12">#}

                                        {#<div class="col-md-7">#}
                                            {#<canvas id="createdTicketChart" width="400" height="400"></canvas>#}
                                        {#</div>#}

                                    {#</div>#}
                                {#</div>#}

                            {#</div>#}
                            {#<div id="tabOthers" role="tabpanel" class="tab-pane fade">#}
                                {#<div class="row">#}
                                    {#<div class="col-md-12">#}

                                        {#<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">#}
                                            {#<div class="panel panel-default">#}
                                                {#<div class="panel-heading" role="tab" id="headingOne">#}
                                                    {#<h1 class="panel-title">#}
                                                        {#<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 16px">#}
                                                            {#Berdasarkan Kategori Tiket yang ditugaskan kepada Anda. [<span class=""><i class="fa fa-caret-down"></i></span>]#}
                                                        {#</a>#}
                                                    {#</h1>#}
                                                {#</div>#}
                                                {#<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">#}
                                                    {#<div class="well well-lg">#}
                                                        {#<div class="panel-body">#}

                                                            {#<div class="col-md-4">#}
                                                                {#<canvas id="categoryTicketChart" width="400" height="400"></canvas>#}
                                                            {#</div>#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="panel panel-default">#}
                                                {#<div class="panel-heading" role="tab" id="headingTwo">#}
                                                    {#<h1 class="panel-title">#}
                                                        {#<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="font-size: 16px">#}
                                                            {#Berdasarkan Staff yang melakukan tugas yang diberikan oleh Anda sebagai Klien. [<span class=""><i class="fa fa-caret-down"></i></span>]#}
                                                        {#</a>#}
                                                    {#</h1>#}
                                                {#</div>#}
                                                {#<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">#}
                                                    {#<div class="panel-body">#}
                                                        {#<div class="col-md-4">#}
                                                            {#<canvas id="staffChart" width="400" height="400"></canvas>#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="panel panel-default">#}
                                                {#<div class="panel-heading" role="tab" id="headingThree">#}
                                                    {#<h1 class="panel-title">#}
                                                        {#<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="font-size: 16px">#}
                                                            {#Berdasarkan Lamanya pengerjaan tiket dilaksanakan [<span class=""><i class="fa fa-caret-down"></i></span>]#}
                                                        {#</a>#}
                                                    {#</h1>#}
                                                {#</div>#}
                                                {#<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">#}
                                                    {#<div class="panel-body">#}
                                                        {#<div class="col-md-4">#}
                                                            {#Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                            {#<div class="panel panel-default">#}
                                                {#<div class="panel-heading" role="tab" id="headingFour">#}
                                                    {#<h1 class="panel-title">#}
                                                        {#<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="font-size: 16px">#}
                                                            {#Berdasarkan Prioritas tiket yang dikerjakan oleh Anda. [<span class=""><i class="fa fa-caret-down"></i></span>]#}
                                                        {#</a>#}
                                                    {#</h1>#}
                                                {#</div>#}
                                                {#<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">#}
                                                    {#<div class="panel-body">#}
                                                        {#<div class="col-md-4">#}
                                                            {#Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}
                                        {#</div>#}


                                    {#</div>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>

                {#modal detail#}
                <div class="modal fade" id="modalDetailMonth" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Jumlah Status</h4>
                                <h4 class="modal-title" id="bulan"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        {#<div class="panel">Open<span class="pull-right" id="open"></span></div>#}
                                        <div class="panel">Assignment<span class="pull-right" id="assignment"></span></div>
                                        <div class="panel">On Progress<span class="pull-right" id="onprogress"></span></div>
                                        <div class="panel">Resolved<span class="pull-right" id="resolved"></span></div>
                                        <div class="panel">Closed<span class="pull-right" id="closed"></span></div>
                                        {#<div class="panel"><b>TOTAL</b><span class="pull-right" id="total"></span></div>#}
                                    </div>
                                    <div class="col-md-8">
                                        <canvas id="statusStaffChart" width="400" height="400"></canvas>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{%- endblock -%}