{% extends 'layout.twig' %}

{% block js %}

    <script type="text/javascript" src="/assets/scripts/Bisnis.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Style.js"></script>
    <script type="text/javascript" src="/assets/scripts/Util/Dialog.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Ticket.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Staff.js"></script>
    <script type="text/javascript" src="/assets/scripts/Helpdesk/Chart.js"></script>
    <script type="text/javascript" src="/assets/scripts/User/User.js"></script>

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>#}

{% endblock %}

{%- block content -%}

        <!-- import plugin script -->
        {#<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>

    <div class="hidden" id="currentUser">{{ me.id }}</div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header row">


                </div>

                <div class="box-body">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                            <ul id="tabStatistics" class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tabStatus" aria-controls="home" role="tab" data-toggle="tab">BERDASARKAN STATUS <div style="text-align: center"><i class="fa fa-battery-half fa-2x" aria-hidden="true"></i></div></a></li>
                                <li><a class="" href="#tabCreatedAt" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN TANGGAL BUAT <div style="text-align: center"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></div></a></li>
                                <li><a class="" href="#tabCategory" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN KATEGORI <div style="text-align: center"><i class="fa fa-ticket fa-2x" aria-hidden="true"></i></div></a></li>
                                <li><a class="" href="#tabStaff" aria-controls="profile" role="tab" data-toggle="tab">BERDASARKAN STAFF <div style="text-align: center"><i class="fa fa-group fa-2x" aria-hidden="true"></i></div></a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="tabStatus" role="tabpanel" class="tab-pane fade active in">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <!-- line chart canvas element -->
                                            <canvas id="statusTicketChart" width="400" height="400"></canvas>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div id="tabCreatedAt" role="tabpanel" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-7">
                                            <canvas id="createdTicketChart" width="400" height="400"></canvas>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div id="tabCategory" role="tabpanel" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <canvas id="categoryTicketChart" width="400" height="400"></canvas>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div id="tabStaff" role="tabpanel" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="col-md-4">
                                            <canvas id="staffChart" width="400" height="400"></canvas>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                {#modal detail#}
                <div class="modal fade" id="modalDetailMonth" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Jumlah Status</h4>
                                <h4 class="modal-title" id="bulan"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel">Open<span class="pull-right" id="open"></span></div>
                                <div class="panel">Assignment<span class="pull-right" id="assignment"></span></div>
                                <div class="panel">On Progress<span class="pull-right" id="onprogress"></span></div>
                                <div class="panel">Resolved<span class="pull-right" id="resolved"></span></div>
                                <div class="panel">Closed<span class="pull-right" id="closed"></span></div>
                                <div class="panel"><b>TOTAL</b><span class="pull-right" id="total"></span></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{%- endblock -%}